@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.top-padding-1{
	padding-top:14px!important;
}
.top-padding{
	padding-top:30px!important;
}
.bg-dark {
    background-color: #555!important;
}
.jumbotron {
    background-color: #fff;
}


 <div class="container">
  <div class="py-5 text-center">
    <h2>2 colunm layout</h2>
    <p class="lead">Below is an example of a 2 colunm structure built entirely with Bootstrap</p>
  </div>

  <div class="row">
    <div class="order-1 col-md-8 order-md-1 mb-4">

			Left
  
    </div>
    <div class="order-2 col-md-4 order-md-2">
	
			Right
			
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center">
    <p class="mb-1">&copy; 2020 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
  
</div>